<!DOCTYPE html>
<html ng-app="skApp">
    <head>
        <title>
            Sharwan Kami | Web &amp; Mobile App Developer from Jalandhar, India
        </title>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
        />
        <meta
            name="description"
            content="Sharwan is an experienced web and mobile application developer."
        />
        <meta name="author" content="Sharwan Kami" />
        <meta
            name="keywords"
            content="Sharwan Kami, sharwan, mobile, iOS, iPhone app development, android app, developer, portfolio, website design, css, web design, interactive, ia, ux, usability"
        />
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
    <body>
        <div id="sk-app" />
        <%= htmlWebpackPlugin.tags.bodyTags %>
    </body>
</html>
