@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

body, html, *{
    font-family: "IBM Plex Sans";
    padding: 0;
    margin:0;
}

.page{
    text-align: center;
    padding:10px;
    color:#383946;
}

.note{
    color:#c7cbd3;
    font-family: "IBM Plex Sans Light";
}

.page h1{
}
/*
.page .box{
    border-right: 2px solid #000;
    position: absolute;
    margin-left: 50%;
    height: 100%;
}
*/

.fa.big{
    font-size: 2em;
}


.page .row .col-md-6{
    padding:0;

}

.page .row .col-md-6:nth-child(odd){
    text-align: right;
}

.page .row .col-md-6:nth-child(even){
    text-align: left;
}

@media (max-width: 480px) {
    .page .row .col-md-6{
        padding:10px;
        text-align:center;
    }
}